Package: com.ginsu.ramundertime
Name: RAMUnderTime
Version: 0.0.1
Architecture: iphoneos-arm
Description: Shows the amount of free RAM in the status bar.
Maintainer: Ginsu
Author: Ginsu
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
Depiction: https://ginsudev.github.io/repo/depictions/ramundertime/index.html
